@import "helpers";

#about-me {
  @include centerColumn();
  background-color: #e5e5e5;

  .intro {
    @include centerColumn();
    padding-bottom: 60px;
    h2 {
      @include sectionHeader();
    }

    p {
      @include textStyling();
      width: 60vw;
      margin: 0 20px 20px 20px;
      padding: 30px;
      border-radius: 10px;
      font-size: 20px;
      background-color: white;
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }
    .show-info-button {
      @include textStyling();
      padding: 20px;
      border-radius: 10px;
      border: none;
      background-color: white;
      outline: none;
      font-size: 15px;
      cursor: pointer;
    }
    .show-info-button:hover {
      background-color: black;
      color: white;
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .hidden-info {
    opacity: 0;
    width: 70vw;
    h3 {
      @include textStyling();
      font-size: 40px;
    }
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      .education {
        @include infoContainerStyling();
        h4 {
          @include textStyling();
          font-size: 30px;
        }
        .edu-info {
          margin: 10px;
          div {
            display: flex;
            justify-content: space-between;
            h5 {
              @include textStyling();
              font-size: 20px;
            }
          }

          h6 {
            @include textStyling;
            font-size: 16px;
          }
        }
      }
      .work-experience {
        @include infoContainerStyling();
        h4 {
          @include textStyling();
          font-size: 30px;
        }
        .work-info {
          margin: 10px;
          div {
            display: flex;
            justify-content: space-between;
            h5 {
              @include textStyling();
              font-size: 20px;
            }
          }

          h6 {
            @include textStyling();
            font-size: 16px;
          }
          li {
            @include textStyling();
            font-size: 14px;
          }
        }
      }
    }
  }
  @media (max-width: 575.98px) {
    .intro {
      h2 {
        font-size: 30px;
      }

      p {
        font-size: 18px;
      }
      .show-info-button {
        padding: 10px;
      }
    }

    .hidden-info {
      width: 95vw;
      opacity: 0;
      h3 {
        font-size: 20px;
      }
      .info {
        .education {
          margin: 15px;
          h4 {
            font-size: 16px;
          }
          .edu-info {
            div {
              h5 {
                font-size: 12px;
              }
            }

            h6 {
              font-size: 10px;
            }
          }
        }
        .work-experience {
          h4 {
            font-size: 16px;
          }
          .work-info {
            div {
              h5 {
                font-size: 12px;
              }
            }

            h6 {
              font-size: 10px;
            }
            ul {
              padding-left: 5px;
              li {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
