@import "helpers";

#about-me {
  @include centerColumn;
  background-color: lightpink;

  .intro {
    @include centerColumn;
    padding-bottom: 60px;
    h2 {
      @include sectionHeader;
    }

    p {
      @include textStyling;
      width: 60vw;
      margin: 10px;
      font-size: 20px;
    }
    .show-info-button {
      padding: 10px;
      border: none;
      border-radius: 10px;
      background-color: orangered;
      cursor: pointer;
    }
  }

  .hidden-info {
    h3 {
      @include textStyling;
      font-size: 30px;
    }
    .education {
      margin: 15px;
      h4 {
        @include textStyling;
        font-size: 26px;
      }
      .edu-info {
        margin: 10px;
        div {
          display: flex;
          justify-content: space-between;
          h5 {
            @include textStyling;
            font-size: 20px;
          }
        }

        h6 {
          @include textStyling;
          font-size: 16px;
        }
      }
    }
    .work-experience {
      h4 {
        @include textStyling;
        font-size: 26px;
      }
      .work-info {
        margin: 10px;
        div {
          display: flex;
          justify-content: space-between;
          h5 {
            @include textStyling;
            font-size: 20px;
          }
        }

        h6 {
          @include textStyling;
          font-size: 16px;
        }
        li {
          @include textStyling;
          font-size: 14px;
        }
      }
    }
  }
}
