@import "helpers";

#contact {
  @include centerColumn;
  background-color: #e5e5e5;
  h2 {
    @include sectionHeader;
  }
  .email-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 18px;
      margin: 12px 10px 0 0;
    }
  }

  .icons {
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    margin-top: 20px;

    .fa-twitter {
      color: #00acee;
      margin: 5px;
    }
    .fa-linkedin {
      color: #4875b4;
      margin: 5px;
    }
    .fa-instagram {
      display: inline-block;
      color: #fff;
      text-align: center;
      width: 80px;
      border-radius: 10px;
      background: #d6249f;
      background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
      margin: 5px;
    }
    .fa-github {
      color: #838282;
      margin: 5px;
    }
  }
  @media (max-width: 575.98px) {
    h2 {
      font-size: 30px;
    }
  }
}
