@import "helpers";

header {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  background-color: black;
  height: 100vh;
  .title {
    display: flex;
    align-items: center;
    margin-top: 50px;
    height: 350px;
    opacity: 0;
    z-index: 500;
    img {
      height: 350px;
      width: 350px;
      border-radius: 50%;
    }
    div {
      @include centerColumn();
      margin-left: 20px;

      h2 {
        @include sectionHeader();
        color: #e5e5e5;
      }
      h4 {
        margin: 0;
        font-size: 30px;
        font-family: "Roboto Slab", serif;
        color: #e5e5e5;
      }
    }
  }
  @media (max-width: 575.98px) {
    .title {
      display: flex;
      flex-direction: column;

      img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
      }
      div {
        h2 {
          font-size: 30px;
        }
        h4 {
          font-size: 20px;
        }
      }
    }
  }
}
