@import "helpers";

header {
  display: flex;
  justify-content: center;
  background: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 70px;
  height: 100vh;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin-top: -100px;
    padding-bottom: 100px;
    opacity: 0;
    img {
      height: 350px;
      width: 350px;
      border-radius: 50%;
    }
    div {
      @include centerColumn();
      margin-left: 20px;

      h2 {
        @include sectionHeader();
        color: #e5e5e5;
      }
      h4 {
        margin: 0;
        font-size: 30px;
        font-family: "Roboto Slab", serif;
        color: #e5e5e5;
      }
    }
  }
  //Support for safari(backdrop-filter is a new stying method that isn't supported by all browsers)
  @supports (
    (-webkit-backdrop-filter: brightness(20%)) or
      (backdrop-filter: brightness(20%))
  ) {
    .title {
      -webkit-backdrop-filter: brightness(20%);
      backdrop-filter: brightness(20%);
    }
  }
  @media (max-width: 800px) {
    .title {
      display: flex;
      flex-direction: column;
      img {
        height: 300px;
        width: 300px;
      }
    }
  }
  @media (max-width: 575.98px) {
    .title {
      img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
      }
      div {
        margin: 0;
        h2 {
          font-size: 40px;
        }
        h4 {
          font-size: 25px;
        }
      }
    }
  }
}
