@mixin navStyle {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
}

@mixin ulStyle {
  display: flex;
  justify-content: center;
  height: 70px;
  margin: 0;
  list-style: none;
}

@mixin navItemStyle {
  position: relative;
  display: block;
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
}

@mixin navItemAfterStyle {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

@mixin hoverAction {
  transform: scaleX(1);
  transform-origin: left;
}

nav {
  @include navStyle();
  background-color: black;

  ul {
    @include ulStyle();

    .nav-bar-item {
      @include navItemStyle();
      color: #e5e5e5;

      &::after {
        @include navItemAfterStyle();
        background: #e5e5e5;
      }

      &:hover::after {
        @include hoverAction();
      }
    }
    @media (max-width: 575.98px) {
      .nav-bar-item {
        margin: 10px;
        font-size: 12px;
      }
    }
  }
}

.nav-scrolled {
  @include navStyle();
  background-color: #e5e5e5;

  ul {
    @include ulStyle();

    .nav-bar-item {
      @include navItemStyle();
      color: black;

      &::after {
        @include navItemAfterStyle();
        background: black;
      }

      &:hover::after {
        @include hoverAction();
      }
    }
    @media (max-width: 575.98px) {
      .nav-bar-item {
        margin: 10px;
        font-size: 12px;
      }
    }
  }
}
