nav {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  background-color: black;

  ul {
    display: flex;
    justify-content: center;
    height: 70px;
    margin: 0;
    list-style: none;

    .nav-bar-item {
      position: relative;
      display: block;
      text-decoration: none;
      margin: 20px;
      font-size: 20px;
      font-family: "Poppins", sans-serif;
      color: #e5e5e5;
      transition: 0.5s;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        top: 100%;
        left: 0;
        background: #e5e5e5;
        transition: transform 0.5s;
        transform: scaleX(0);
        transform-origin: right;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}

.nav-scrolled {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  background-color: #e5e5e5;

  ul {
    display: flex;
    justify-content: center;
    height: 70px;
    margin: 0;

    .nav-bar-item {
      position: relative;
      display: block;
      text-decoration: none;
      margin: 20px;
      font-size: 20px;
      font-family: "Poppins", sans-serif;
      color: black;
      transition: 0.5s;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        top: 100%;
        left: 0;
        background: black;
        transition: transform 0.5s;
        transform: scaleX(0);
        transform-origin: right;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}
