@import "helpers";

nav {
  @include navStyle();
  background-color: black;

  ul {
    @include ulStyle();

    .nav-bar-item {
      @include navItemStyle();
      color: #e5e5e5;

      &::after {
        @include navItemAfterStyle();
        background: #e5e5e5;
      }

      &:hover::after {
        @include hoverAction();
      }
    }
    @media (max-width: 800px) {
      .nav-bar-item {
        font-size: 14px;
      }
    }
    @media (max-width: 575.98px) {
      .nav-bar-item {
        margin: 25px 6px 25px 6px;
        font-size: 12px;
      }
    }
  }
}

.nav-scrolled {
  @include navStyle();
  background-color: #e5e5e5;

  ul {
    @include ulStyle();

    .nav-bar-item {
      @include navItemStyle();
      color: black;

      &::after {
        @include navItemAfterStyle();
        background: black;
      }

      &:hover::after {
        @include hoverAction();
      }
    }
    @media (max-width: 800px) {
      .nav-bar-item {
        font-size: 14px;
      }
    }
    @media (max-width: 575.98px) {
      .nav-bar-item {
        margin: 25px 6px 25px 6px;
        font-size: 12px;
      }
    }
  }
}
