@import "helpers";

#projects-sec {
  @include centerColumn;

  .project {
    @include centerColumn;
    justify-content: center;
    height: 115vh;
    width: 100vw;
    div {
      @include centerColumn;
      .image {
        border-radius: 10px;
        height: 450px;
        opacity: 0;
        filter: brightness(50%);
        transition: opacity 250ms ease-in, filter 0.3s ease-in;
        &.appear {
          opacity: 1;
        }
        &:hover {
          filter: brightness(100%);
        }
      }
    }
    .left-slide {
      transform: translateX(-50%);
      transition: opacity 250ms ease-in, transform 400ms ease-in;
      opacity: 0;
      &.appear {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .project-description {
      transform: translateX(50%);
      transition: opacity 250ms ease-in, transform 400ms ease-in;
      opacity: 0;
      &.appear {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
  @media (max-width: 575.98px) {
    .project {
      div {
        .image {
          height: 200px;
          width: 325px;
        }
      }
    }
  }

  #canopy {
    background-color: #568a87;
    div {
      h3 {
        @include textStyling;
        font-size: 45px;
        margin-bottom: 20px;
        color: white;
      }
    }
    .tech-stack {
      color: white;
      margin: 5px;
      font-size: 20px;
    }
    .project-description {
      color: white;
      width: 60vw;
      font-size: 20px;
    }
    @media (max-width: 575.98px) {
      div {
        h3 {
          font-size: 30px;
        }
      }
      .tech-stack {
        font-size: 16px;
      }
      .project-description {
        width: 80vw;
        font-size: 14px;
      }
    }
  }

  #scheduler {
    background-color: #354649;
    div {
      h3 {
        @include textStyling;
        font-size: 45px;
        margin-bottom: 20px;
        color: white;
      }
    }
    .tech-stack {
      color: white;
      margin: 5px;
      font-size: 20px;
    }
    .project-description {
      color: white;
      width: 60vw;
      font-size: 20px;
    }
    @media (max-width: 575.98px) {
      div {
        h3 {
          font-size: 30px;
        }
      }
      .tech-stack {
        font-size: 16px;
      }
      .project-description {
        width: 80vw;
        font-size: 14px;
      }
    }
  }

  #viral-clean {
    background-color: #a3c6c4;
    div {
      h3 {
        @include textStyling;
        font-size: 45px;
        margin-bottom: 20px;
      }
    }
    .tech-stack {
      margin: 5px;
      font-size: 20px;
    }
    .project-description {
      width: 60vw;
      font-size: 20px;
    }
    @media (max-width: 575.98px) {
      div {
        h3 {
          font-size: 30px;
        }
      }
      .tech-stack {
        font-size: 16px;
      }
      .project-description {
        width: 80vw;
        font-size: 14px;
      }
    }
  }
}
