@import "helpers";

#projects-sec {
  @include centerColumn;

  .project {
    @include centerColumn;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    div {
      @include centerColumn;
      .image {
        border-radius: 10px;
        height: 500px;
        opacity: 0;
        filter: brightness(50%);
        transition: opacity 250ms ease-in, filter 0.3s ease-in;
        &.appear {
          opacity: 1;
        }
        &:hover {
          filter: brightness(100%);
        }
      }
    }
    .left-slide {
      transform: translateX(-50%);
      transition: opacity 250ms ease-in, transform 400ms ease-in;
      opacity: 0;
      &.appear {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .project-description {
      transform: translateX(50%);
      transition: opacity 250ms ease-in, transform 400ms ease-in;
      opacity: 0;
      &.appear {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  #canopy {
    background-color: #568a87;
    div {
      h3 {
        @include textStyling;
        font-size: 45px;
        margin-bottom: 20px;
        color: white;
      }
    }
    .tech-stack {
      color: white;
      margin: 5px;
      font-size: 20px;
    }
    .project-description {
      color: white;
      width: 60vw;
      font-size: 20px;
    }
  }

  #scheduler {
    background-color: #354649;
    div {
      h3 {
        @include textStyling;
        font-size: 45px;
        margin-bottom: 20px;
        color: white;
      }
    }
    .tech-stack {
      color: white;
      margin: 5px;
      font-size: 20px;
    }
    .project-description {
      color: white;
      width: 60vw;
      font-size: 20px;
    }
  }

  #viral-clean {
    background-color: #a3c6c4;
    div {
      h3 {
        @include textStyling;
        font-size: 45px;
        margin-bottom: 20px;
      }
    }
    .tech-stack {
      margin: 5px;
      font-size: 20px;
    }
    .project-description {
      width: 60vw;
      font-size: 20px;
    }
  }
}
