@import "helpers";

#skills-sec {
  @include centerColumn;
  background-color: lightseagreen;

  h2 {
    @include sectionHeader;
  }
  main {
    display: flex;
    padding-bottom: 60px;
    .skills {
      background-color: lightskyblue;
      margin: 0 20px 0 20px;
    }
  }
}
