body {
  @import "_navBar";
  @import "_header";
  @import "_aboutMe";
  @import "_skills";
  @import "_projects";
  @import "_contact";
  background-color: lightgray;
  margin: 0;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}
